[Unit]
Description=Prune the repository
Before=restic-backup.service
Conflicts=restic-backup.service
Requisite=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/config
ExecStartPre=restic unlock
ExecStart=restic prune
ExecStartPost=restic check
Nice=19
