[Unit]
Description=Run a backup
Requisite=network-online.target
ConditionACPower=true

[Service]
Type=oneshot
EnvironmentFile=/etc/restic/config
ExecStartPre=restic unlock
ExecStart=restic backup --verbose --files-from /etc/restic/includes.list --exclude-caches --exclude-file=/etc/restic/excludes.list --exclude-if-present .restic-ignore
ExecStartPost=restic forget --host "%H" --group-by=host --keep-last ${KEEP_LAST} --keep-hourly ${KEEP_HOURLY} --keep-daily ${KEEP_DAILY} --keep-weekly ${KEEP_WEEKLY} --keep-monthly ${KEEP_MONTHLY} --keep-yearly ${KEEP_YEARLY}
Nice=19
