[Unit]
Description=Run restic-prune.service

[Install]
WantedBy=timers.target

[Timer]
OnCalendar=daily
RandomizedDelaySec=1hour
FixedRandomDelay=true
Persistent=true
